#################
## Sublime Text
#################

*.sublime-project
*.sublime-workspace

# Mac crap
.DS_Store

# Test Data
test.txt

#################
## Directories
#################

mydb/
node_modules/